<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API For BIL Radar Chart</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">

        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">

    </section>
</div>
